@{
    ViewBag.Title = "Home Page";
}
@using QuoteApp.Models
@model QuoteApp.Models.HomeViewModel
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-12">
            <h3>Scheduled work</h3>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Quote</th>
                        <th>Date</th>
                        <th>Club</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Number</th>
                        <th>Email</th>
                        <th>Job</th>
                        <th>Sum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ScheduledWork work in Model.ScheduledWorks)
                    {
                        <tr>
                            <td>@work.QuoteId</td>
                            <td>@work.Date</td>
                            <td>@work.Club</td>
                            <td>@work.Address</td>
                            <td>@work.Contact</td>
                            <td>@work.Number</td>
                            <td>@work.Email</td>
                            <td>@work.Job</td>
                            <td>£@work.Sum</td>
                            <td>@Html.ActionLink("Finished", "Create", "Invoice", new { quoteId = work.QuoteId }, new { @class = "btn btn-xs btn-success" })</td>
                            <td>@Html.ActionLink("Cancel", "Cancel", "Quote", new { quoteId = work.QuoteId }, new { @class = "btn btn-xs btn-danger" })</td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
            <h3>Quotes issued</h3>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Quote</th>
                        <th>Date</th>
                        <th>Club</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Number</th>
                        <th>Email</th>
                        <th>Job</th>
                        <th>Sum</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (QuoteSummary summary in Model.Quotes)
                    {
                        <tr onclick="displayQuote('@summary.QuoteId');">
                            <td>@summary.QuoteId</td>
                            <td>@summary.QuoteDate</td>
                            <td>@summary.LocationName</td>
                            <td>@summary.LocationAddress</td>
                            <td>@summary.ContactName</td>
                            <td>@summary.ContactNumber</td>
                            <td>@summary.ContactEmail</td>
                            <td>@summary.Job</td>
                            <td>£@summary.Sum</td>
                            <td>@Html.ActionLink("Schedule", "ScheduleQuote", "Quote", new { quoteId = @summary.QuoteId }, new { @class = "btn btn-xs btn-success" })</td>
                            <td>@Html.ActionLink("Archive", "ArchiveQuote", "Quote", new { quoteId = @summary.QuoteId }, new { @class = "btn btn-xs btn-danger" })</td>
                        </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
            <h3>Unpaid invoices</h3>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Inv#</th>
                        <th>Date</th>
                        <th>Club</th>
                        <th>Contact</th>
                        <th>Number</th>
                        <th>Email</th>
                        <th>Sum</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Invoice invoice in Model.Invoices)
                    {
                        <tr onclick="displayQuote('@invoice.InvoiceId');">
                            <td>@invoice.InvoiceId</td>
                            <td>@invoice.InvoiceDate.ToString("dd-MM-yyyy")</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>£@invoice.Price</td>
        <td>@Html.ActionLink("Paid", "MarkAsPaid", "Invoice", new { invoiceId = @invoice.InvoiceId }, new { @class = "btn btn-xs btn-success" })</td>
    </tr>
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>

    </div>
    <div class="col-lg-6">
        <h3>Completed work this quarter</h3>
        <p>We got paid for @Model.JobsCompleted jobs</p>
        <h3>Money in this quarter</h3>
        <p>Made <strong>£@Model.MoneyMade</strong> in total so far</p>
        <h3>VAT sum</h3>
        <p>Will have to pay around £@Model.Vat VAT</p>
        <h3>Income tax sum</h3>
        <p>And about £@Model.IncomeTax on income tax</p>
    </div>
</div>
@section scripts
{
    <script>
        function displayQuote(quoteId) {
            var url = '@Url.Action("Details", "Quote", new {id = "PLACEHOLDER"})'.replace('PLACEHOLDER', quoteId);
            window.location.href = url;
        }

        function createInvoice(quoteId) {
            var url = '@Url.Action("Create", "Invoice", new {id = "PLACEHOLDER"})'.replace('PLACEHOLDER', quoteId);
            window.location.href = url;
        }
    </script>
}
