@using QuoteApp.Models
@model QuoteApp.Models.QuoteViewModel

@{
    ViewBag.Title = "New quote";
}
<h3>Create new quote</h3>
<div class="form-horizontal col-lg-10" role="form" id="customerInfo">
    <div class="form-group">
        <label for="customerClub" class="col-sm-2 control-label">Customer club</label>
        <div class="col-sm-6">
            <input class="form-control" id="customerClub" placeholder="The name of the club to quote for" onchange="updateReference();">
        </div>
    </div>
    <div class="form-group">
        <label for="clubAddress" class="col-sm-2 control-label">Club address</label>
        <div class="col-sm-6">
            <input class="form-control" id="clubAddress" placeholder="Address">
        </div>
    </div>
    <div class="form-group">
        <label for="contactName" class="col-sm-2 control-label">Contact name</label>
        <div class="col-sm-6">
            <input class="form-control" id="contactName" placeholder="John Smith" onchange="updateReference();">
        </div>
    </div>
    <div class="form-group">
        <label for="contactEmail" class="col-sm-2 control-label">Contact email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="contactEmail" placeholder="john@smith.com">
        </div>
    </div>
    <div class="form-group">
        <label for="contactNumber" class="col-sm-2 control-label">Contact number</label>
        <div class="col-sm-6">
            <input class="form-control" id="contactNumber" placeholder="07771631876">
        </div>
    </div>
</div>
<div class="col-lg-2" id="refAndDate">
    <div>
        <strong>Ref: <span contenteditable="true" id="refId"></span></strong>
    </div>
    <div>
        <strong>Date: <span contenteditable="true" id="dateId"></span></strong>
    </div>
</div>

<div id="workTables"></div>
<div class="col-md-4 col-md-offset-4" id="addNewCourtButtonDiv">
    <button class="btn btn-success btn-lg" onclick="addQuoteTable();"><i class="glyphicon glyphicon-plus-sign"></i> Add area</button>
</div>
<div class="col-md-8 col-md-offset-2">
    @Html.ActionLink("Generate quote", "GeneratePdf", Model, new { @class="btn btn-large btn-primary form-control"})
</div>
<!-- Modal -->
<div id="jobSelector" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Select the work to insert</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="workTypeTabs">
                        @foreach (string workType in Model.WorkTypes)
                        {
                            <li role="presentation"><a href="#@workType.ToLower()" role="tab" data-toggle="tab">@workType</a></li>
                        }
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        @foreach (string workType in Model.WorkTypes)
                        {
                            <div role="tabpanel" class="tab-pane" id="@workType.ToLower()">
                                <div class="panel-group" id="@string.Format("accordion{0}",workType)" role="tablist" aria-multiselectable="true">
                                    @foreach (WorkViewModel work in Model.Works.Where(m => m.WorkAreaName.Equals(workType)))
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="@string.Format("{0}Heading",@work.WorkName.Replace(" ", ""))">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#@work.WorkName.Replace(" ", "")" aria-expanded="false" aria-controls="@work.WorkName.Replace(" ", "")">
                                                        @work.WorkName
                                                    </a>
                                                </h4>
                                                <button class="btn btn-xs btn-info" onclick="selectWork('@string.Format("{0}Text",@work.WorkName.Replace(" ", ""))', '@string.Format("{0}Price",@work.WorkName.Replace(" ", ""))');" data-dismiss="modal">Select</button>
                                            </div>
                                            <div id="@work.WorkName.Replace(" ", "")" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@string.Format("{0}Heading",@work.WorkName.Replace(" ", ""))">
                                                <input type="hidden" id="@string.Format("{0}Price",@work.WorkName.Replace(" ", ""))" value="@work.WorkPrice" />
                                                <div class="panel-body" id="@string.Format("{0}Text",@work.WorkName.Replace(" ", ""))">
                                                    @work.WorkDescription
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <input type="hidden" id="selectedRowId" />


</div>

@section scripts{
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script>
        var dateVar = new Date();
        var month = dateVar.getMonth() + 1;
        var day = dateVar.getDate();
        var dialog;
        var pencilIcon = '<i class="glyphicon glyphicon-pencil hover" type="button" data-toggle="modal" data-target="#jobSelector"></i>';
        var emptyEditableField = "<td contenteditable=true></td>";

        $('#workTypeTabs').find("li").first().addClass("active");
        $('.tab-content').find(".tab-pane").first().addClass("active");

        //dialog = $("#jobSelector").dialog({
        //    autoOpen: false,
        //    height: 400,
        //    width: 600,
        //    modal: true,
        //    buttons: {
        //        Cancel: function () {
        //            dialog.dialog("close");
        //        }
        //    },
        //    close: function () {
        //        form[0].reset();
        //        allFields.removeClass("ui-state-error");
        //    }
        //});
        //function openSelectWork() {

        //    dialog.dialog("open");
        //}


        month = (('' + month).length < 2 ? '0' : '') + month;
        day = (('' + day).length < 2 ? '0' : '') + day;

        $('#dateId').html(day + "-" + month + "-" + dateVar.getFullYear());

        var rowId = 0;
        addQuoteTable();

        function setRowId(rowid) {
            $('#selectedRowId').val(rowid);
        }

        function addRow(tableId) {
            var newRowId = "row_" + rowId;
            $(tableId).find('tbody').append("<tr id=" + newRowId + ">" + emptyEditableField + '<td contenteditable=true onclick=(setRowId("' + newRowId + '"));>'
                                                                                            + pencilIcon + '</td>' + emptyEditableField +
                                    "<td><i class=\"glyphicon glyphicon-remove hover\"  onclick=removeElement(" + newRowId + ")></i></td>" +
                                "</tr></tbody>");
            rowId++;
        }

        function removeElement(elementId) {
            $(elementId).remove();
        }

        function addQuoteTable() {
            var $table = $(document.createElement('table'));
            var tableId = "table_" + $('.table-bordered').length;
            var newRowId = "row_" + rowId;
            $table.attr("id", tableId);
            $table.addClass("table table-bordered");
            $table.append("<thead><tr><th style=width:20%; contenteditable=true>Court</th><th style=width:65%;></th><th style=width:10%; contenteditable=true>Price</th><th style=width:5%;><i class=\"glyphicon glyphicon-trash hover\" onclick=removeElement(" + tableId + ")></i></th></tr></thead>");
            $table.append("<tbody><tr id=" + newRowId + ">" + emptyEditableField + '<td contenteditable=true onclick=(setRowId("' + newRowId + '"));>'
                                                                                            + pencilIcon + '</td>' + emptyEditableField +
                                    "<td><i class=\"glyphicon glyphicon-remove hover\"  onclick=removeElement(" + newRowId + ")></i></td>" +
                                "</tr></tbody>");
            $table.append("<tfoot><tr>" +
                                    "<td colspan=4>" +
                                        "<button class=\"btn btn-success btn-sm table-add\" onclick=addRow(" + tableId + ")>" +
                                            "<i class=\"glyphicon glyphicon-plus\"></i> Add work" +
                                        "</button></td></tr></tfoot>");
            $('#workTables').append($table);
            rowId++;
        }

        function getClubCode() {
            return getAcronym('customerClub');
        }

        function getCustomerCode() {
            return getAcronym('contactName');
        }

        function updateReference() {
            var code = getClubCode();
            var customer = getCustomerCode();
            if (code.length > 0) {
                code += "-";
                if (customer.length > 0) {
                    code += customer + "-Q";
                } else {
                    code += "-Q";
                }
            } else {
                if (customer.length > 0) {
                    code += customer + "-Q";
                } else {
                    code += "-Q";
                }
            }
            $('#refId').html(code.toUpperCase());
        }

        function getAcronym(elementId) {
            var elementVal = $('#' + elementId).val();
            var acronym = "";
            elementVal.split(' ').forEach(function (element, index, array) {
                acronym += element.substring(0, 1);
            });
            return acronym;
        }

        function selectWork(description, price) {
            $('#' + $('#selectedRowId').val()).find("td").eq(1).html($('#' + description).html());
            $('#' + $('#selectedRowId').val()).find("td").eq(2).html($('#' + price).val());
        }
    </script>
}
