@model QuoteApp.Models.WorkFromView

@{ Layout = null;}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <style>
        table, tr, td {
            page-break-inside: avoid !important;
        }

        .col-md-3 {
            width: 25%;
        }

        .col-md-offset-9 {
            margin-left: 75%;
        }

        .col-lg-2 {
            width: 16.66666667%;
        }

        .middle {
            width: 50%;
        }

        .col-lg-8 {
            width: 66.66666667%;
        }

        .col-lg-10 {
            width: 83.33333333%;
        }
    </style>

</head>
<body>
    
    <div id="quoteToConvert" style="margin-top: 250px;">
        <div id="detailsDiv" style="font-size: 20px; font-family: Georgia">
            <div style="font-weight: bold;" class="form-horizontal">
                <div class="form-group">
                    <div class="col-lg-2" style="float: left">
                        To:
                    </div>
                    <div class="col-lg-10" style="float: left">
                        @Model.ContactDetails.ContactName
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-lg-2" style="float: left">
                        Care of:
                    </div>
                    <div class="col-lg-10" style="float: left">
                        @Model.ContactDetails.ClubName<br />
                        <span style="font-weight: normal">
                            @Model.ContactDetails.ClubAddress
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2" style="float: left">
                        Ref:
                    </div>
                    <div class="col-lg-10" style="float: left">
                        <span style="font-weight: normal">Squash court refurbishment</span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-lg-2" style="float: left">
                        Contact:
                    </div>
                    <div class="col-lg-10" style="float: left">
                        <span><u><a style="color: black;" href="mailto:@Model.ContactDetails.ContactEmail">@Model.ContactDetails.ContactEmail</a></u></span><br />
                        @Model.ContactDetails.ContactNumber
                    </div>
                </div>
            </div>
        </div>
        <div id="greetingDiv" style="font-weight: bold; font-family: Georgia; font-size: 20px; margin-top: 100px">
            Hi @Model.ContactDetails.ContactName.Split(' ')[0],<br />
            With reference to the above please find below quotation as discussed.
            If you have any further questions please do not hesitate to contact me.
            <br />Kind Regards,<br /><br />

            Tony
        </div>
        
        <div id="workTables" style="margin-top: 750px;">
            
            <div style="text-align: center; font-family: Georgia; margin-bottom: 50px;">
                <h1>Quotation</h1>

            </div>
            
            @foreach (var workArea in Model.CourtWorkDetails)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: #87C1FD; color: whitesmoke;">
                            <th style="border-right:none">@workArea.AreaName</th>
                            <th style="border-right: none; border-left: none; "></th>
                            <th style="border-left:none">
                                Price @if (workArea.NumberOfCourts > 1)
                                      {<span>per court</span>}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var work in workArea.Works)
                        {
                            <tr>
                                <td style="text-align: right; width: 20%; border: none;">@work.WorkArea</td>
                                <td style="width: 65%; border: none;">@work.Description</td>
                                <td style="width: 15%; border: none;">£@work.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        <div style="width: 100%; text-align: center; font-weight: bold; margin-top: 150px;">
            All above prices are subject to VAT!
        </div>
    </div>

</body>


@*<button class="btn btn-default" onclick="generatePdf('@Model.QuoteRef');">Generate PDF</button>
@Html.ActionLink("Get PDF", "GetPdf", new { reference = Model.QuoteRef })*@

@*@section scripts{
    <script>
        //$('#Html').val($('#quoteToConvert').html());
        function generatePdf(quoteReference) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("GeneratePdf")',
                dataType: "json",
                data: {
                    html: $('#quoteToConvert').html(),
                    header: $('#headerDiv').html(),
                    footer: $('#footerDiv').html(),
                    quoteRef: quoteReference
                },
                success: function (data) { alert("PDF uploaded to database"); },
                error: function (data) {
                    alert("Something bad happened: " + data.errorMessage);
                }
            });
        }
    </script>
}*@