@model QuoteApp.Database.Quote.QuoteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<div class="container" id="generateDiv">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-2"><img class="img-responsive" src="~/Content/Images/TonySquashHeader.png"></div>
            <div class="col-lg-4 col-lg-offset-2">
                <span style="text-align: center;">
                    Tony Gay<br />
                    SCPS<br />
                    18 Ransome close<br />
                    Cambridge<br />
                    CB4 1WH<br />
                </span>
            </div>
            <div class="col-lg-4">
                <span style="text-align: left;">
                    07 771 631 876<br />
                    tonysquash@mac.com<br />
                    www.tonysquash.com<br />
                </span>
            </div>
        </div>
    </div>

</div>

<a href="#" onclick="return xepOnline.Formatter.Format('generateDiv', { render: 'download' });">
    <img src="~/Content/Images/TonySquashHeader.png" style="width: 50px;">
</a>

<script src="~/Scripts/xepOnline.jqPlugin.js"></script>
