@model IEnumerable<QuoteApp.Database.Quote.Quote>




    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuoteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuoteDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.QuoteId }) |
                @Html.ActionLink("Details", "Details", new { id=item.QuoteId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.QuoteId })
            </td>
        </tr>
    }
    
    </table>
