@using QuoteApp.Models
@model QuoteApp.Database.Work.ScheduleWorkViewModel
@{
    ViewBag.Title = "ScheduleQuote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Schedule work for @Model.QuoteId</h3>

<div class="form-horizontal">
    <div class="form-group">
        <label for="WorkStarts" class="col-sm-2 control-label">Start work at</label>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.WorkStarts, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="NumberOfDays" class="col-sm-2 control-label">It will take these many days</label>
        <div class="col-sm-1">
            @Html.TextBoxFor(m => m.NumberOfDays, new { @class = "form-control" })
        </div>
    </div>

</div>
<table class="table table-striped" id="worksTable">
    <thead>
        <tr>
            <th style="width: 10%">Court</th>
            <th style="width: 15%">Work type</th>
            <th style="width: 50%">Description</th>
            <th style="width: 10%">Price</th>
            <th style="width: 10%">Accepted #</th>
            <th style="width: 5%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (QuotedWork quotedWork in Model.QuotedWorks)
        {
            <tr>
                <td contenteditable="true">@quotedWork.QuotedWorkMainAreaName</td>
                <td contenteditable="true">@quotedWork.WorkTitle</td>
                <td contenteditable="true">@quotedWork.QuotedWorkDescription</td>
                <td contenteditable="true">£@quotedWork.QuotedWorkPrice</td>
                <td contenteditable="true">@quotedWork.NumberOfCourts</td>
                <td><i class="glyphicon glyphicon-remove hover" onclick=removeRow($(this))></i></td>
                <td style="display: none">@quotedWork.QuotedWorkId</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td><button class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></button></td>
            <td colspan="2" style="text-align: right;">Total expected income:</td>
            <td colspan="3"><strong>£</strong><strong id="totalPriceId">@Model.TotalPrice</strong></td>
        </tr>
    </tfoot>
</table>
<button class="btn btn-success" type=button data-toggle=modal data-target=#jobSelector><i class=" glyphicon glyphicon-plus"></i> Add work</button>
<button class="btn btn-primary" id="scheduleButton" onclick="scheduleWork();" disabled="disabled" title="You must specify a date first">Schedule work</button>
@Html.HiddenFor(m => m.QuoteId)
@Html.ActionLink("Maybe not", "Index", "Home", null, new { @class = "btn btn-default" })
@{
    Html.RenderPartial("_WorkTypesModal", new PartialWorkViewModel { WorkTypes = Model.WorkTypes, Works = Model.Works });
}
@section Scripts{
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script type="text/javascript">
        $("#WorkStarts").datepicker({
            dateFormat: 'dd/mm/yy',
            onSelect: function() {
                 $('#scheduleButton').removeAttr('disabled');
            }
        });

        $('#workTypeTabs').find("li").first().addClass("active");
        $('.tab-content').find(".tab-pane").first().addClass("active");

        function removeRow(sender) {
            var parent = $(sender).parents('tr');
            var priceTd = parent.find('td:eq(3)');
            var price = parseInt(priceTd[0].innerText.replace('£', ''));
            $('#totalPriceId').html(parseInt($('#totalPriceId').html()) - parseInt(price));
            parent.remove();
        }

        function selectWork(description, price, title) {
            $('#worksTable >tbody').append('<tr>' +
                                                '<td contenteditable=true></td>' +
                                                "<td>" + title + "</td>" +
                                                '<td contenteditable=true>' + $('#' + description).html() + '</td>' +
                                                '<td contenteditable=true>£' + price + '</td>' +
                                                '<td contenteditable=true>1</td>' +
                                                '<td><i class="glyphicon glyphicon-remove hover" onclick=removeRow($(this))></i></td>' +
                                                '<td style=display:none;>0</td>' +
                                           '</tr>');
            $('#totalPriceId').html(parseInt($('#totalPriceId').html()) + parseInt(price));
        }

        function addWork() {
            
        }
        
        function scheduleWork() {

            var quotedWorks = [];

            $('#worksTable > tbody >tr').each(function () {
                var cells = $(this).find('td');
                quotedWorks.push({
                    'QuotedWorkId': cells[6].innerText,
                    'QuotedWorkMainAreaName': cells[0].innerText,
                    'WorkTitle': cells[1].innerText,
                    'QuotedWorkDescription': cells[2].innerText,
                    'Accepted': cells[4].innerText,
                    'QuotedWorkPrice': cells[3].innerText.replace("£", "")
                });
            });

            var scheduleWorkViewModel = {
                'NumberOfDays': $('#NumberOfDays').val(),
                'WorkStarts': $("#WorkStarts").val(),
                'QuoteId': $("#QuoteId").val(),
                'QuotedWorks': quotedWorks
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("ScheduleQuoteJson")',
                dataType: "json",
                data: { scheduleWorkViewModel: JSON.stringify(scheduleWorkViewModel) },
                success: function (data) {
                    location.href = '@Url.Action("Index", "Home")';
                },
                error: function (data) {
                    alert("Something bad happened: " + data);
                }
            });
        }



    </script>
}
