@model QuoteApp.Models.ScheduleWorkViewModel
@{
    ViewBag.Title = "ScheduleQuote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Schedule work for @Model.QuoteId</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label for="WorkStarts" class="col-sm-2 control-label">Start work at</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(m=>m.WorkStarts, new{@class="form-control"})
            </div>
        </div>
        <div class="form-group">
            <label for="NumberOfDays" class="col-sm-2 control-label">It will take these many days</label>
            <div class="col-sm-1">
                @Html.TextBoxFor(m => m.NumberOfDays, new { @class = "form-control" })
            </div>
        </div>
        <input type="submit" value="Schedule work" class="btn btn-success" /> |
        @Html.HiddenFor(m => m.QuoteId)
        @Html.ActionLink("Maybe not", "Index", "Home", null, new {@class="btn btn-default"})
    </div>
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script type="text/javascript">
        $("#WorkStarts").datepicker({ dateFormat: 'dd/mm/yy' });
    </script>
    }
